.container {
  min-height: 100%;
  background: url(../images/background.jpg) no-repeat;
  max-width: 41.6rem;
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: .2rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #8f96a1;
  margin: 1rem;
}

.correct-logo {
  width: 1.4rem;
  height: 1.1rem;
}

.form-group {
  text-align: center;
  flex-flow: row nowrap;
}

.form-group input {
  outline: none;
  border-bottom: 1px dotted #999;
}

.form-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form-control .form-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: .4rem;
  padding: .4rem;
}

.form-control .btn-submit {
  border: .03rem solid #ffffff;
  padding: 1.2em;
  width: 4.5rem;
  border-radius: .5rem;
  -moz-border-radius: .5rem;
}

.sign-in {
  margin: .53rem 0;
}

.icon {
  height: .46rem;
  width: .5rem;
  background: url(../images/icons/icon-user.png) no-repeat;
  background-size: cover;
}

.icon-user {
  background-image: url(../images/icons/icon-user.png);
}

.icon-password {
  background-image: url(../images/icons/icon-password.png);
}