.icon-sprite, .icon-birthday, .icon-camera, .icon-check, .icon-close, .icon-droplet, .icon-ellipses, .icon-email, .icon-food, .icon-location-pin, .icon-location, .icon-menu, .icon-mouse, .icon-password, .icon-people, .icon-phone, .icon-profile, .icon-search, .icon-time, .icon-twitter, .icon-weather { background-image: url('../images/icon-sc59d483f06.png'); background-repeat: no-repeat; }

.container { min-height: 100%; background: url(../images/background.jpg) no-repeat; max-width: 10rem; margin: 0 auto; display: -webkit-box; display: flex; display: -webkit-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; background-size: cover; justify-content: space-between; }

.header { display: flex; align-items: center; justify-content: center; }

.content { margin: 0.66667rem; }

.correct { display: flex; justify-content: center; align-items: center; width: 4rem; height: 4rem; border-radius: 50%; background-color: #8f96a1; margin-top: 2.5rem; }

.correct-logo { width: 1.93333rem; height: 1.49333rem; }

.form-group { text-align: center; justify-content: space-around; flex-flow: column nowrap; display: flex; }
.form-group input { outline: none; border-bottom: .05rem dotted #999; }

.form-control { display: flex; justify-content: flex-start; align-items: center; }
.form-control .form-item { display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start; margin: 0.13333rem; width: 90%; }
.form-control .btn-submit { border: 3px solid #ffffff; width: 100%; padding: 0.26667rem; border-radius: 0.66667rem; -moz-border-radius: 0.66667rem; }
.form-control label { font-size: 16px; }
[data-dpr="2"] .form-control label { font-size: 32px; }
[data-dpr="3"] .form-control label { font-size: 48px; }
.form-control input { width: 100%; font-size: 16px; }
[data-dpr="2"] .form-control input { font-size: 32px; }
[data-dpr="3"] .form-control input { font-size: 48px; }

footer { display: -webkit-box; display: flex; display: -webkit-flex; -webkit-box-pack: space-between; -ms-flex-pack: space-between; -webkit-justify-content: space-between; justify-content: center; align-items: center; padding: 0.26667rem; font-size: 16px; }
[data-dpr="2"] footer { font-size: 32px; }
[data-dpr="3"] footer { font-size: 48px; }

.icon { height: 52px; width: 52px; background-size: cover; margin-top: -0.26667rem; }

.icon-birthday { background-position: 0 0; }

.icon-camera { background-position: 0 -52px; }

.icon-check { background-position: 0 -104px; }

.icon-close { background-position: 0 -156px; }

.icon-droplet { background-position: 0 -208px; }

.icon-ellipses { background-position: 0 -260px; }

.icon-email { background-position: 0 -312px; }

.icon-food { background-position: 0 -364px; }

.icon-location-pin { background-position: 0 -416px; }

.icon-location { background-position: 0 -468px; }

.icon-menu { background-position: 0 -520px; }

.icon-mouse { background-position: 0 -572px; }

.icon-password { background-position: 0 -624px; }

.icon-people { background-position: 0 -676px; }

.icon-phone { background-position: 0 -728px; }

.icon-profile { background-position: 0 -780px; }

.icon-search { background-position: 0 -832px; }

.icon-time { background-position: 0 -884px; }

.icon-twitter { background-position: 0 -936px; }

.icon-weather { background-position: 0 -988px; }
