.container { min-height: 100%; background: url(../images/background.jpg) no-repeat; max-width: 10rem; margin: 0 auto; display: -webkit-box; display: flex; display: -webkit-flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -webkit-flex-direction: column; background-size: cover; justify-content: space-between; }

.header { display: flex; align-items: center; justify-content: center; }

.content { margin: 0.66667rem; }

.correct { display: flex; justify-content: center; align-items: center; width: 4rem; height: 4rem; border-radius: 50%; background-color: #8f96a1; margin-top: 2.5rem; }

.correct-logo { width: 1.93333rem; height: 1.49333rem; }

.form-group { text-align: center; justify-content: space-around; flex-flow: column nowrap; display: flex; }
.form-group input { outline: none; border-bottom: .05rem dotted #999; }

.form-control { display: flex; justify-content: flex-start; align-items: center; }
.form-control .form-item { display: flex; flex-direction: column; justify-content: space-around; align-items: flex-start; margin: 0.13333rem; width: 90%; }
.form-control .btn-submit { border: 3px solid #ffffff; width: 100%; padding: 0.26667rem; border-radius: 0.66667rem; -moz-border-radius: 0.66667rem; }
.form-control label { font-size: 16px; }
[data-dpr="2"] .form-control label { font-size: 32px; }
[data-dpr="3"] .form-control label { font-size: 48px; }
.form-control input { width: 100%; font-size: 16px; }
[data-dpr="2"] .form-control input { font-size: 32px; }
[data-dpr="3"] .form-control input { font-size: 48px; }

footer { display: -webkit-box; display: flex; display: -webkit-flex; -webkit-box-pack: space-between; -ms-flex-pack: space-between; -webkit-justify-content: space-between; justify-content: center; align-items: center; padding: 0.26667rem; font-size: 16px; }
[data-dpr="2"] footer { font-size: 32px; }
[data-dpr="3"] footer { font-size: 48px; }

.icon { display: inline-block; }
.icon-profile { background-repeat: no-repeat; background-image: url('../images/icon-s85c7b40b57.png'); width: 0.69333rem; height: 0.69333rem; background-position: 0 78.94737%; background-size: 0.69333rem 16.4rem; }
.icon-password { background-repeat: no-repeat; background-image: url('../images/icon-s85c7b40b57.png'); width: 0.69333rem; height: 0.69333rem; background-position: 0 63.15789%; background-size: 0.69333rem 16.4rem; }
