@charset "utf-8";
/* CSS Document */

/*html5*/
/*重置*/
html {
  -webkit-text-size-adjust: 100%;
}

html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, submit, input, textarea, select, p, table, tr, th, td, hr, sup, address, blockquote {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

em {
  font-style: normal;
  font-weight: normal
}

ul, ol, li {
  list-style-type: none
}

a {
  text-decoration: none;
}

a:link, a:visited, a:hover, a:active {
  outline: none;
}

body {
  font-family: "Microsoft Yahei";
}

img {
  border: none;
}

.clear_ios {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-appearance: none;
  outline: none;
}

/*清除苹果手机按钮默认样式*/
.clearfix:before, .clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

/*定位*/
.tl {
  text-align: left
}

.tc {
  text-align: center
}

.tr {
  text-align: right
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cl {
  clear: left
}

.pr {
  position: relative
}

.pa {
  position: absolute
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

button, input, optgroup, select, textarea {
  font: inherit;
  color: inherit;
}

button, select {
  text-transform: none;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td, th {
  padding: 0;
}

input:focus {
  outline: none;
}
