@import "util";
@import "compass/layout";
@import "compass/utilities/sprites";
@import "icon/*.png";

.container {
  min-height: 100%;
  background: url(../images/background.jpg) no-repeat;
  @include px2rem(max-width, 750px);
  margin: 0 auto;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  background-size: cover;
  justify-content: space-between;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  @include px2rem(margin, 50px);
}

.correct {
  display: flex;
  justify-content: center;
  align-items: center;
  @include px2rem(width, 300px);
  @include px2rem(height, 300px);
  border-radius: 50%;
  background-color: #8f96a1;
  margin-top: 2.5rem;
}

.correct-logo {
  @include px2rem(width, 145px);
  @include px2rem(height, 112px);
}

.form-group {
  text-align: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  display: flex;
  input {
    outline: none;
    border-bottom: .05rem dotted #999;
  }
}

.form-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .form-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    @include px2rem(margin, 10px);
    width: 90%;
  }
  .btn-submit {
    border: 3px solid #ffffff;
    width: 100%;
    @include px2rem(padding, 20px);
    @include px2rem(border-radius, 50px);
    @include px2rem(-moz-border-radius, 50px);
  }
  label {
    @include font-dpr(16px);
  }
  input {
    width: 100%;
    @include font-dpr(16px);
  }
}

footer {
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  -webkit-justify-content: space-between;
  justify-content: center;
  align-items: center;
  @include px2rem(padding, 20px);
  @include font-dpr(16px);
}

.icon {
  height: 52px;
  width: 52px;
  background-size: cover;
  @include px2rem(margin-top, -20px);
}

@include all-icon-sprites;