@import "util";
@import "var";

.container {
  min-height: 100%;
  background: url(../images/background.png) no-repeat;
  @include px2rem(max-width, 750px);
  margin: 0 auto;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background-size: cover;
  justify-content: space-between;
}

header {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  .mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
  }
  .opacity {
    opacity: 0.1;
    filter: alpha(opacity=10);
    background-color: #ffffff;
  }
  .tab {
    display: flex;
    z-index: 2;
    width: 100%;
    @include font-dpr(16px);
    @include px2rem(padding-top, 40px);
    div {
      width: 50%;
      text-align: center;
      box-sizing: content-box;
      @include px2rem(height, 80px);
      &.active {
        border-bottom: solid pxToRem(10px) rebeccapurple;
      }
    }
  }
}

footer {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  align-items: center;
  @include px2rem(height, 250px);
  @include px2rem(padding, 20px);
  @include font-dpr(16px);
  .btn-submit {
    width: 100%;
    background-color: rebeccapurple;
    @include px2rem(height, 100px);
    @include font-dpr(16px);
  }
}

.content {
  @include px2rem(margin, 50px);
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-group {
  text-align: center;
  justify-content: space-around;
  flex-flow: column nowrap;
  display: flex;
  input {
    width: 100%;
    outline: none;
    border-bottom: .05rem dotted #999;
    @include font-dpr(16px);
  }
  .btn-submit {
    border: 3px solid #ffffff;
    width: 100%;
    @include px2rem(padding, 20px);
    @include px2rem(border-radius, 50px);
    @include px2rem(-moz-border-radius, 50px);
  }
  label {
    @include font-dpr(16px);
  }
}

.form-control {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .form-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    @include px2rem(margin, 10px);
    width: 90%;
  }

}

.correct {
  display: flex;
  justify-content: center;
  align-items: center;
  @include px2rem(width, 200px);
  @include px2rem(height, 200px);
  border-radius: 50%;
  background-color: #ffffff;
  margin-top: 2.5rem;
  z-index: 2;
}

.correct-logo {
  @include px2rem(width, 145px);
  @include px2rem(height, 112px);
}

@import "sprite";